body {
    margin: 60px;
    font-family: Helvetica, sans-serif;
}

#find-slots {
    padding-top: 20px;
    padding-bottom: 20px;
}

button {
    font-size: 20px;
}

.error {
    color: red;
    padding-top: 20px;
}

.lds-dual-ring {
    padding-top: 20px;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #0EAD69;
    border-color: #0EAD69 transparent #0EAD69 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#webid, #oidc-issuers {
    font-size: 16px;
    padding-top: 9px;
    padding-left: 10px;
    padding-bottom: 6px;
    width: 350px;
}

#log-in-btn, #select-oidc-issuer-btn {
    padding: 5px;
}

.container {
    display: grid;
    grid-template-columns: 550px auto;
}

.grid-left {
    grid-column-start: 1;
    grid-column-end: 1;
}

.grid-right {
    grid-column-start: 2;
    grid-column-end: 2;
}

label[for="webid"], label[for="oidc-issuers"] {
    margin-right: 15px;
}

label[for="oidc-issuers"] {
    line-height: 40px
}

.outer {
    width: 100%;
    text-align: left;
}

.inner {
    display: inline-block;
}

.hidden {
    visibility: hidden;
    display: none;
}

#see-invalid-participants-btn, #hide-invalid-participants-btn {
    font-size: 14px;
}

#show-personal-slots-btn {
    margin-top: 20px;
}